backend/.idea/
backend/.vscode/
backend/node_modules/
backend/build/
backend/temp/

backend/tmp/*
backend/!tmp/.gitkeep

frontend/.idea/
frontend/.vscode/
frontend/node_modules/
frontend/build/
frontend/temp/

frontend/tmp/*
frontend/!tmp/.gitkeep
